<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notice Boards</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

<h1>All Notice Boards</h1>

<a th:href="@{/noticeboards/new}" class="btn">Add New Notice Board</a>

<div class="table-wrap mt-4">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Flights of the Day</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="nb : ${noticeboards}">
            <td th:text="${nb.id}"></td>
            <td th:text="${nb.date}"></td>

            <td>
                <span th:each="f, iter : ${nb.flightsOfTheDay}"
                      th:utext="${f.id + (iter.last ? '' : ', ')}"></span>
            </td>

            <td>
                <a th:href="@{'/noticeboards/' + ${nb.id} + '/edit'}"
                   class="btn">Edit</a>

                <form th:action="@{'/noticeboards/' + ${nb.id} + '/delete'}"
                      method="post" class="inline-form">
                    <button type="submit" class="btn danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
