<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Airplanes List</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h1>All Airplanes</h1>

<a th:href="@{/airplanes/new}">Add New Airplane</a>

<table border="1" cellpadding="8" cellspacing="0">
    <thead>
    <tr>
        <th>ID</th>
        <th>Number</th>
        <th>Capacity</th>
        <th>Flights</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="airplane : ${airplanes}">
        <td th:text="${airplane.id}">ID</td>
        <td th:text="${airplane.number}">Number</td>
        <td th:text="${airplane.capacity}">Capacity</td>

        <!-- aici e modificarea -->
        <td>
            <span th:if="${airplane.flights == null or #lists.isEmpty(airplane.flights)}"> </span>
            <span th:each="f, iterStat : ${airplane.flights}"
                  th:text="${f.id}"
                  th:append="${!iterStat.last ? ', ' : ''}"></span>
        </td>

        <td>
            <form th:action="@{'/airplanes/' + ${airplane.id} + '/delete'}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
