<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Flight Assignments</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

<h1>All Flight Assignments</h1>

<a th:href="@{/flightassignments/new}" class="btn">Add New Assignment</a>

<div class="table-wrap mt-4">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Flight ID</th>
            <th>Staff ID</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="a : ${assignments}">
            <td th:text="${a.id}"></td>
            <td th:text="${a.flightId}"></td>
            <td th:text="${a.staffId}"></td>

            <td>
                <a th:href="@{'/flightassignments/' + ${a.id} + '/edit'}" class="btn">Edit</a>

                <form th:action="@{'/flightassignments/' + ${a.id} + '/delete'}"
                      method="post" class="inline-form">
                    <button type="submit" class="btn danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>

    </table>
</div>

</body>
</html>
