<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Airport Employees</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

<h1>All Airport Employees</h1>

<a th:href="@{/airportemployees/new}" class="btn">Add New Employee</a>

<div class="table-wrap mt-4">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Designation</th>
            <th>Department</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="e : ${employees}">
            <td th:text="${e.id}"></td>
            <td th:text="${e.name}"></td>
            <td th:text="${e.designation}"></td>
            <td th:text="${e.department}"></td>

            <td>
                <a th:href="@{'/airportemployees/' + ${e.id} + '/edit'}" class="btn">Edit</a>

                <form th:action="@{'/airportemployees/' + ${e.id} + '/delete'}"
                      method="post" class="inline-form">
                    <button type="submit" class="btn danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>

    </table>
</div>

</body>
</html>
