<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Passenger</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

<h1>Edit Passenger</h1>

<form th:action="@{'/passengers/' + ${passenger.id}}" method="post" th:object="${passengerForm}">

    <!-- ID -->
    <label>ID:</label>
    <input type="text" th:field="*{id}" disabled />
    <input type="hidden" th:field="*{id}" />

    <br/>

    <!-- NAME -->
    <label>Name:</label>
    <input type="text" th:field="*{name}" />
    <div class="error" th:if="${#fields.hasErrors('name')}"
         th:errors="*{name}">Name error</div>

    <br/>

    <!-- CURRENCY -->
    <label>Currency:</label>
    <input type="text" th:field="*{currency}" />
    <div class="error" th:if="${#fields.hasErrors('currency')}"
         th:errors="*{currency}">Currency error</div>

    <br/>

    <button type="submit">Save</button>
</form>


</body>
</html>
