<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Passengers List</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

<h1>All Passengers</h1>

<a th:href="@{/passengers/new}" class="btn">Add New Passenger</a>

<div class="table-wrap mt-4">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Currency</th>
            <th>Tickets</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="p : ${passengers}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.currency}"></td>

            <td>
                <span th:each="t, iter : ${p.tickets}"
                      th:utext="${t.id + (iter.last ? '' : ', ')}"></span>
            </td>

            <td>
                <a th:href="@{'/passengers/' + ${p.id} + '/edit'}" class="btn">Edit</a>

                <form th:action="@{'/passengers/' + ${p.id} + '/delete'}"
                      method="post" class="inline-form">
                    <button type="submit" class="btn danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
